/cocos2d
# Compiled Object files
*.slo
*.lo
*.o
*.obj

/proj.ios_mac/jamPewDiePie.xcodeproj/project.xcworkspace/xcuserdata/

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# MSVS
/proj.win32/Debug.win32
/proj.win32/Release.win32
/proj.win32/*.opensdf
/proj.win32/*.sdf
/proj.win32/*.suo
/proj.win32/*.user

# Intermediate resources
/Resources/temp

# Miscelaneous
/android_debug.bat
/Resources/hd
/Resources/sd
/proj.android/bin
/proj.android/gen
/proj.android/obj
/proj.android/libs
/proj.android/assets
/bin
